<div class="offcanvas offcanvas-start bg-dark text-white side-bar" data-bs-scroll="true" tabindex="-1" id="offcanvas"
    aria-labelledby="offcanvas">
    <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
            <ul class="navbar-nav">
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">Core</div>
                </li>
                <li>
                    <a href="#" class="nav-link px-3 active">
                      <span class="me-2">
                        <i class="bi bi-wrench-adjustable-circle"></i>
                      </span>
                      <span class="fw-bold">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseOrganization" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Organization</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseOrganization">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Organizers</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <br/>
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">Fundraising</div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseCauses" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Causes</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseCauses">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Create</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseCampaigns" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Campaigns</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseCampaigns">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Create</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseDonations" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Donations</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseDonations">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Create</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <br/>
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">Org Teams</div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseTeams" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Teams</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseTeams">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Create</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseTeamOrganizers" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Organizers</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseTeamOrganizers">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Add</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseTeamMembers" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Members</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseTeamMembers">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Add</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <br/>
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">Org Volunteers</div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseOpportunities" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Opportunities</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseOpportunities">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Create</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseApplicants" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Applicants</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseApplicants">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Create</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseVolunteers" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Volunteers</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseVolunteers">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Add</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <br/>
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">Org Meetings</div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseMeetings" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Meetings</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseMeetings">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Create</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseMeetingOrganizers" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Organizers</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseMeetingOrganizers">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Create</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseMeetingMembers" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Members</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseMeetingMembers">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Details</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Create</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <br/>
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">Messenging</div>
                </li>
                <li>
                    <a class="nav-link px-3 sidebar-link" data-bs-toggle="collapse" href="#collapseMessages" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                        <span class="fw-bold">Messages</span>
                        <span class="right-icon ms-auto">
                          <i class="bi bi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="collapse" id="collapseMessages">
                        <div>
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Contacts</span>
                                    </a>                  
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-3">
                                        <span class="me-2"><i class="bi bi-layout-text-window-reverse"></i></span>
                                        <span class="fw-bold">Find</span>
                                    </a>                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>